body{
    background-color: rgba(0,0,0,0.03);
}

.navbar {
    padding-top: 25px !important;
    padding-bottom:  25px !important;
}

.navbar a.nav-link, .nav-item a.dropdown-item, .navbar a.navbar-brand {
    color: #f8f9fa !important;
    font-size: 1.8em !important;
}

.navbar li.nav-item {
    padding-right:5px;
    padding-left:25px;
}

.navbar div {
    justify-content: center;
}

/* Remove annoying dropdown disappering on slow hover */
.nav-item > .dropdown-menu{
    margin-top: initial;
}

/* Show dropdown on hover*/
.nav-item.dropdown:hover > .dropdown-menu {
    display: block;
}

.nav-item > .dropdown-menu > a:hover,
.nav-item > .dropdown-menu > a:focus {
    background-color: #6c757d !important;
}

.container-small{
    padding-top:15px;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:15px;
}

.no-transform {
    transform:none !important;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.relative{
    position:relative!important;
}

.block{
    display:block;
}

.container-big{
    padding-top:30px;
    padding-left:30px;
    padding-bottom:15px;
}

.fa, .fas{
    transform: translateY(-10%);
}

.loading-modal {
    display: none;
    position: fixed;    
    justify-content: center;
    align-items: center;
    z-index: 2000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8 ) 
                url("loading-circle.gif")
                50% 50% 
                no-repeat;
}

.loading-modal > .loading-text {
    position: absolute;
    text-align: center;
    margin-top: 8rem;
}

.loading-modal > #loading-progress {
    position: absolute;
    font-weight: 500;
}

.loading-modal > .loading-text > #loading-last,  .loading-modal > .loading-text > #loading-next{
    font-weight: lighter;
    font-size: large;
    height: 1.5rem;
    color: darkslategrey;
}

.loading-modal > .loading-text > #loading-main {
    font-size: x-large;
    height: 2rem;
}

body.loading {
    overflow: hidden;   
}

body.loading > .loading-modal{
    display: flex;
}

.modal-body td, .modal-body th{
    text-align:center; 
}

.modal-body td:first-child{
    font-weight: bold;
}

.modal-body td:not(:first-child) {
    padding-top:5px;
    padding-bottom:5px; 
}

.modal-body table{
    word-break:break-word
}

input.error, select.error{
    -moz-box-shadow: 0 0 3px 0 red!important;
    -webkit-box-shadow: 0 0 3px 0 red!important;
    box-shadow: 0 0 3px 0 red!important;
    border-color: red!important;
    background-color: #fce4e4!important;
}

select.error option, select.error optgroup{
    background-color: white!important;
}

label.error{    
  color: #cc0033;
  display: inline-block;
  font-size: 12px;
  line-height: 15px;
  margin: 5px 0 0;
}

@media (min-width: 768px) {
    .modal-xl {
      width: 90%;
     max-width:1000px;
    }
  }

  .alertdiv{      
    position: fixed;
    width: 100%;
    z-index: 999;
    height: 0;
  }