div#tabs a[data-toggle="tab"]{
    font-size: 1.3em !important;
}

.tab-content{
    border-left:1px solid;
    border-right:1px solid;
    border-bottom:1px solid;
    border-color:#dee2e6;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.remove-row{
    padding-left:5px;
    cursor: pointer;
}
