{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/datatables.min.css') }}" >
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-confirm.min.css') }}" >    
{% endblock head %}
    
{% block body %}
<div class="container-fluid container-big">
    <table id="cached_table" class="table striped" style="width:100%">
        <thead>
            <tr>
                <th></th>
                <th style="width:50%">Name</th>
                <th>Batch-ID</th>
                <th>Submitted</th>
                <th>Goal</th>
                <th style="width:5%"></th>
                <th style="width:5%"></th>
            </tr>
        </thead>
    </table>
</div>
{% endblock body %}

{% block scripts %}
<script>
    batches = {{ batches | tojson }};
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-confirm.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/cached-list.js') }}"></script>
{% endblock scripts %}