{% extends 'base.html' %}

{% block head %}
<title>{{ title }}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-confirm.min.css') }}" >
<link rel="stylesheet" href="{{ url_for('static', filename='css/datatables.min.css') }}" >
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}" >
{% endblock head %}

{% block body %}
<div class="modal fade" id="csvmodal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ _('Loading') }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding:2rem 1rem">
                <h5>{{ _('Export') }}</h5>
                <div class="container-small">
                    <a id="export-all" class="btn btn-primary export-btn" role="button" download>{{ _('Export All') }}</a>
                    <a id="export-submitted" class="btn btn-primary export-btn ml-4" role="button" download>{{ _('Export Submitted') }}</a>
                </div>
                <hr>
                <h5>{{ _('Import') }}</h5>
                <div class="container-small">
                    <form method="POST" id="uploadform" novalidate="novalidate" enctype="multipart/form-data">
                        {{ uploadform.hidden_tag() }}
                        {{ uploadform.file(class="form-control-file") }}
                        <label class="error"></label>             
                        <div class="success"></div>
                        <div class="error"></div>
                    </form>
                    <button id="uploadbtn" type="button" class="btn btn-primary">{{ _('Upload CSV') }}</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _('Close') }}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="progressmodal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ _('Loading') }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="progress-table">
                    <thead>
                        <tr class="border-bottom">
                            <th style="width:3%"></th>
                            <th style="width:15%"><h6>{{ _('WorkerID') }}</h6></th>
                            <th style="width:10%"><h6>{{ _('Answer') }}</h6></th>
                            <th style="width:10%"><h6>{{ _('Status') }}</h6></th>
                            <th style="width:10%"><h6>{{ _('Bonus paid') }}</h6></th>
                            <th style="width:10%"><h6>{{ _('Time taken') }}</h6></th>
                            <th style="width:15%"><h6>{{ _('Acceptance') }}</h6></th>
                            <th style="width:15%"><h6>{{ _('Submission') }}</h6></th>
                            <th style="width:5%"><input type='checkbox' id='checkbox-toggler'></th>
                            <th style="width:7%"><i style="color: red" class="fas fa-ban" data-toggle="tooltip" title="Softblock"></i></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <div class="info-empty"></div>
            </div>
            <div class="modal-footer">
                <button type="button" id="approve-selected" class="btn btn-success selected-action" disabled>{{ _('Approve selected') }}</button>
                <button type="button" id="reject-selected" class="btn btn-danger selected-action" disabled>{{ _('Reject selected') }}</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _('Close') }}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="qualmodal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ _('Loading') }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="w-100">
                    <thead>
                        <tr class="border-bottom">
                            <th style="width:5%"></th>
                            <th style="width:20%"><h6>{{ _('Name') }}</h6></th>
                            <th style="width:15%"><h6>{{ _('Comparator') }}</h6></th>
                            <th style="width:10%"><h6>{{ _('Value') }}</h6></th>
                            <th style="width:30%"><h6>{{ _('Actions Guarded') }}</h6></th>
                        </tr>
                    </thead>
                    <tbody></tbody>             
                </table>
                <div class="info-empty"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _('Close') }}</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid container-big" style="width:85%">
    <table id="project_table" class="table" style="width:100%">
        <thead>
            <tr>
                <th></th>
                <th>{{ _('Name') }}</th>
                <th>{{ _('Progress') }}</th>
                <th>{{ _('Start') }}</th>
                <th>{{ _('End') }}</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
    </table>    
</div>
{% endblock body %}

{% block scripts %}
<script>
    surveys = {{ surveys | tojson }}
    ordering = {{ ordering | tojson }};
    createdhit = {{ createdhit | tojson}};
    quals = {{ quals | tojson}};
    hidden_hits = {{ hidden_hits | tojson}};
    master_id_sandbox = '2ARFPLSP75KLA8M8DH1HTEQVJT3SY6'  // Sandbox
    master_id = '2F1QJWKUDD8XADTFD2Q0G6UTO95ALH' // Production
    adult_id = '00000000000000000060'
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/std.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-confirm.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/dashboard.js') }}"></script>

{% endblock scripts %}