{% extends 'base.html' %}

<h1>Home</h1>

{% block head %}
{% endblock head %}

{% block body %}
{#<div class="container-fluid container-big">
    {{table}}
</div>#}
<div class="container-fluid container-big">
    <table id="project_table" class="table table-condensed" style="border-collapse:collapse;">
        <thead>
            <tr>
                <th><p>Survey</p></th>
                <th><p>Status</p></th>
                <th><p>Fortschritt</p></th>
                <th><p>Start</p></th>
                <th><p>Ende</p></th>
                <th><p>Aktionen</p></th>
            </tr>
        </thead>
        {% for survey in surveys %}
        <tbody data-toggle="collapse" data-target="#r{{survey.HITId}}" class="overview accordion-toggle collapsed">
            <tr class="mainrow">
                <td><p>Titel: {{ survey.Title }}</p> <p>Beschreibung: {{ survey.Description }}</p><p>Tags: {{ survey.Keywords }}</p></td>
                <td><p>{{ survey.HITStatus }}</p></td>
                <td>
                    <p>{{ survey.NumberOfAssignmentsCompleted }}({{survey.NumberOfAssignmentsPending}})/{{ survey.MaxAssignments }}</p>
                    <p>{{ survey.NumberOfAssignmentsCompleted/survey.MaxAssignments*100 }}%</p>
                </td>
                <td>{{ survey.CreationTime }}</td>
                <td>{{ survey.Expiration|default('') }}</td>
                <td>
                        Actiones
                        <button class="btn btn-primary btn-sm block"></button>
                        <button class="btn btn-primary btn-sm block"></button>
                        <button class="btn btn-primary btn-sm block"></button>
                        <button class="btn btn-primary btn-sm block"></button>
                </td>
            </tr>
            <tr class="additional-information">
                <td colspan="6">50 enten</td>
            </tr>
        </tbody>
            <tr>
                <td colspan="3" class="hiddenRow">
                    <div class="accordian-body collapse" id="r{{survey.HITId}}"> {{ survey.Description }} </div>
                </td>
            </tr>
        {% endfor %}
    </table>
    
</div>

{% endblock body %}

