{% extends 'base.html' %}

<h1>Home</h1>

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-confirm.min.css') }}" >
<link rel="stylesheet" href="{{ url_for('static', filename='css/datatables.min.css') }}" >
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}" >
{% endblock head %}

{% block body %}
<div class="modal fade" id="csvmodal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Placeholder</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding:2rem 1rem">
                <h5>Export</h5>
                <div class="container-small">
                    <a id="export-all" class="btn btn-primary export-btn" role="button" download>Export All</a>
                    <a id="export-submitted" class="btn btn-primary export-btn ml-4" role="button" download>Export Submitted</a>
                </div>
                <hr>
                <h5>Import</h5>
                <div class="container-small">
                    <form method="POST" id="uploadform" novalidate="novalidate" enctype="multipart/form-data">
                        {{ uploadform.hidden_tag() }}
                        {{ uploadform.file(class="form-control-file") }}
                        <label class="error"></label>             
                        <div class="success"></div>
                        <div class="error"></div>
                    </form>
                    <button id="uploadbtn" type="button" class="btn btn-primary">Upload CSV</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="progressmodal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Placeholder</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="progress-table">
                    <thead>
                        <tr class="border-bottom">
                            <th style="width:5%"></th>
                            <th style="width:20%"><h6>WorkerID</h6></th>
                            <th style="width:10%"><h6>Answer</h6></th>
                            <th style="width:10%"><h6>Status</h6></th>
                            <th style="width:10%"><h6>Bonus paid</h6></th>
                            <th style="width:10%"><h6>Time taken</h6></th>
                            <th style="width:20%"><h6>Acceptance</h6></th>
                            <th style="width:20%"><h6>Submission</h6></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <div id="progress-empty"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="qualmodal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Placeholder</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table>
                    <thead>
                        <tr class="border-bottom">
                            <th style="width:5%"></th>
                            <th style="width:20%"><h6>Name</h6></th>
                            <th style="width:15%"><h6>Comparator</h6></th>
                            <th style="width:10%"><h6>Value</h6></th>
                            <th style="width:10%"><h6>Actions Guarded</h6></th>
                        </tr>
                    </thead>
                    <tbody></tbody>             
                </table>
                <div id="qual-empty"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid container-big" style="width:85%">
    <table id="project_table" class="table" style="width:100%">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Fortschritt</th>
                <th>Start</th>
                <th>Ende</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
    </table>    
</div>
{% endblock body %}

{% block scripts %}
<script>
    surveys = {{ surveys | tojson }};
    ordering = {{ ordering | tojson }};
    createdhit = {{ createdhit | tojson}};
    quals = {{ quals | tojson}};
    hidden_hits = {{ hidden_hits | tojson}};
    master_id_sandbox = '2ARFPLSP75KLA8M8DH1HTEQVJT3SY6'  // Sandbox
    master_id = '2F1QJWKUDD8XADTFD2Q0G6UTO95ALH' // Production
    adult_id = '00000000000000000060'
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-confirm.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock scripts %}