{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/datatables.min.css') }}" >
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-confirm.min.css') }}" >
{% endblock head %}

{% block body %}
<div class="container-fluid container-big">
    <table id="qualification_table" class="table striped" style="width:100%">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Id</th>
                <th>#Workers</th>
                <th>CreationTime</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
    </table>    
</div>

{% endblock body %}

{% block scripts %}
<script>
    quals = {{ qualifications | tojson }};
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-confirm.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/qualification-list.js') }}"></script>
{% endblock scripts %}