
<link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}" >
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="stylesheet" href="https://getbootstrap.com/docs/4.3/dist/css/bootstrap.css">
<script src="https://getbootstrap.com/docs/4.3/dist/js/bootstrap.bundle.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}">



<div id="qualifications" class="form-group container-small">
    <div class="row">
        <div class="col-8">
            <label class='col-form-label'>Lege alle Qualifikationen fest (maximal 5)</label>
        </div>
    </div>
    
    {% for groups in form.selects %}
        {% for group in groups %}
            {{ group }}
        {% endfor %}
    {% endfor %}
    <div class="row">
        <div class="col-auto">
            <button id="add-select" class="btn btn-primary btn-sm">Qualifikation hinzufügen</button>
            <button id="add-system" class="btn btn-success btn-sm">Standardqualifikationen hinzufügen</button>
        </div>
    </div>
</div>


<script>
    var all_options=[];
    var percentage_interval = {{ qualification_percentage_interval }}
    var integer_list = {{ qualification_integer_list }}
    var countrycodes = {{ cc_list |tojson}}
    var sys_group = $("<optgroup label='System'></optgroup>")
    var custom_group =$("<optgroup label='Eigene'></optgroup>")

    
    //for( key in {{cc_list}})
    //    console.log(key)

    fetch("/qualification/all").then(function(response){
        response.json().then(function(data){

            data.forEach(function(obj) {
                option_type= obj.Type ? 'system':'custom'
                option = {
                    'type':option_type,
                    'id' : obj.QualificationTypeId,
                    'name' : obj.Name,
                    'comparators' : obj.Comparators,
                    'value' : obj.Value,
                    'default': obj.Default
                }
                all_options.push(option)

                option = $("<option value="+obj.QualificationTypeId+">"+obj.Name+"</option>")
                if(obj.Type=="system")
                    sys_group.append(option)
                else
                    custom_group.append(option)

            })
            console.log(all_options)
            //CATCH NO RESPONSE  AND FLASH IT
            initDOMs()
        })
    })
    
    function initDOMs(){
        var added=0
        $("button#add-system").click(function(){ //Implement
            if(added==0){
                all_options.forEach(function(obj){
                    if (obj.type=="custom")
                        return
                    $row = create_qual_row()
                    $row.addClass("system-row")
                    $row.find("select option[value="+obj.id+"]").prop('selected',true).trigger('change');
                    $("#qualifications .row:first").after($row)
                    $('button#add-system').addClass('btn-danger').removeClass('btn-success').html("Standardqualifikationen entfernen")
                })
            }else{
                $("#qualifications .system-row").remove()
                $('button#add-system').addClass('btn-success').removeClass('btn-danger').html("Standardqualifikationen hinzufügen")
            }
            rearrange_ids()
            added = !added
            
        });
            
        
    
        $("button#add-select").click(function() { //reconstruct HTML to match wtform            
            $row = create_qual_row()
            $("#qualifications .row:last").before($row)
            rearrange_ids()            
        });

        $(document).on('click','.remove-row', function(){
            $(this).parents('.row').remove();
            rearrange_ids()
        })

        function create_qual_row(){
            btn = $("<a class='remove-row'><i class='fas fa-trash-alt'></i></a>")
            row = $("<div class='row selectorrow'></div>")
            col0= $("<div class='col-auto'><p class='index'>X</p></div>")
            col1= $("<div class='col-auto'></div>")
            col2= $("<div class='col-auto comparator'></div>")
            col3= $("<div class='col-auto value'></div>")
            col4= $("<div class='col-auto'></div>")

            select1 = $("<select id='selects-X-selector'></select>")
            select2 = $("<select id='selects-X-first_select'></select>")
            select3 = $("<select id='selects-X-second_select'></select>")

            select1.on("change", function(){
                show_selects_for_option($(this))
            })

            option = $("<option value='false'>---Select---</option>")
            select1.append(option)
            select1.append(sys_group.clone())
            select1.append(custom_group.clone())
            col1.append(select1)
            col2.append(select2)
            col3.append(select3)
            col4.append(btn)
            row.append(col0)
            row.append(col1)
            row.append(col2)
            row.append(col3)
            row.append(col4)
            col2.hide() // Hide comparator by default
            col3.hide() // Hide values by default
            return row
        }

        function rearrange_ids(){
            $('#qualifications .selectorrow').each(function (index) {
                $(this).find('.index').text(index+1)
                $(this).find('select').each(function (){
                    var $selector = $(this)
                    var new_id = $selector.prop("id").replace(/\d+|X/g, index)  // RegEx: Gets number or X  (combination too, but w/e)
                    $selector.prop("id", new_id)
                    $selector.prop("name", new_id)
                })
            });
        }

        function show_selects_for_option($option){

            $parent = $option.closest(".selectorrow")
            $comparator_col = $parent.find(".comparator")
            $value_col = $parent.find(".value")

            $comparator_select = $comparator_col.children("select")
            $value_select = $value_col.children("select")
            
            $comparator_select.empty()
            $value_select.empty()
            
            $comparator_col.hide()
            $value_col.hide()

            if($option.val()=='false') // If select ---SELECT---  return
                return            
            
            var options = all_options.find(option => option.id === $option.val())

            if(!options)
                return
            
            if (options.comparators===undefined){   // Custom qualifications dont have the comparators-attribute set
                $option0 = $("<option value='Exists'>Existiert</option>")
                $option1 = $("<option value='ExistsNot'>Existiert nicht</option>")
                $comparator_select.append($option0)
                $comparator_select.append($option1)
            }else{
                options.comparators.forEach(comparator => {
                    $option = $("<option value="+comparator.value+">"+comparator.name+"</option>")
                    $comparator_select.append($option)
                })                 
            }

            $comparator_col.show() //comparator is always shown (unless ---SELECT---)

            switch(options.value){
                case "PercentValue":
                    for(i=100;i>=0;i-=percentage_interval)
                        $value_select.append($('<option></option>').val(i).html(i))    
                    $value_col.show()     
                    break;
                case "IntegerValue":
                    console.log(integer_list)
                    for (i=0;i<integer_list.length;i++)
                        $value_select.append($('<option></option>').val(integer_list[i]).html(integer_list[i]))      
                    $value_col.show()
                    break;
                case "LocaleValue":
                    for(let key in countrycodes){
                        if(countrycodes.hasOwnProperty(key)){
                            $value_select.append($('<option></option>').val(key).html(countrycodes[key]))
                        }
                    }
                    $value_col.show()
                    break;
                default:
                    break;

            }
            if(options.default){
                $comparator_select.val(options.default.comparator)
                $value_select.val(options.default.val)
            }
                //console.log(options.value)
            
            
            

        }
    }
</script>