{% extends 'base.html' %}

{% block head %}
<title>{{ title }}</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tagsinput.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/survey.css') }}">
{% endblock head %}

{% block body %} 
<div class="container-fluid container-big">
    {% import 'macros.j2' as macros %}
    <!-- StudyNavs -->
    <nav>
        <div id="tabs" class="nav nav-tabs" role="tablist">
            {{ macros.render_nav_tabs(form) }}
        </div>
    </nav>
    <form id="sform" method="POST" action="">
            {{ form.hidden_tag() }}
        <div class="tab-content container-small">
            <!--Allgemein-->
            <div id="p1" class="tab-pane active">
                {{ macros.render_long_text(form.project_name) }}
                {{ macros.render_long_text(form.title) }}
                {{ macros.render_long_text(form.description) }}
                {{ macros.render_long_text(form.keywords) }}
                {{ macros.render_int_unit(form.time_till_expiration) }}
                {{ macros.render_next_prev(1) }}
            </div>
            <div id="p2" class="tab-pane">
                {{ macros.render_int_bool(form.amount_workers, form.minibatch) }}
                {{ macros.render_decimal(form.payment_per_worker, form.qualification_name)}}
                {{ macros.render_int_unit(form.allotted_time_per_worker, 3) }}
                {{ macros.render_int_unit(form.accept_pay_worker_after, 3) }}
                {{ macros.render_next_prev(2) }}
            </div>
            <div id="p3" class="tab-pane">
                {{ macros.render_radio(form.must_be_master) }}
    
                <div id="qualifications" class="form-group">
                    <div class="row">
                        <div class="col-8">
                            <label class='col-form-label'>{{ _('Choose required Qualifications') }}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-auto">
                            <button type="button" id="add-select" class="btn btn-primary btn-sm">{{ _('Add Qualification') }}</button>
                            <button type="button" id="add-system" class="btn btn-success btn-sm">{{ _('Add default Qualifications') }}</button>
                        </div>
                    </div>
                </div>
    
                <div class="form-group row">
                    <div class="col-3">{{ form.adult_content.label}}</div>
                    <div class="col">{{ form.adult_content}}</div>
                </div>
                {{ macros.render_radio(form.project_visibility, inline=false) }}
    
                {{ macros.render_next_prev(3) }}
            </div>
            <div id="p4" class="tab-pane">
                {{ form.editor_field}}
                {{ macros.render_next_prev(4) }}
            </div>
            <div id="p5" class="tab-pane">
                <h2>{{ _('HIT Overview') }}</h2>
                <div class="container pt-3 mb-5 ml-1">
                    <div class="row">
                            <div class="col-5">{{ _('Project Name') }}</div>
                            <div id="overview_name" class="col-auto"></div>
                    </div>
                    <div class="row mt-1">
                            <div class="col-5">{{ _('Title') }}</div>
                            <div id="overview_title" class="col-auto"></div>
                    </div>
                    <div class="row mt-1">
                            <div class="col-5">{{ _('MiniBatched') }}</div>
                            <div class="col-auto">{{ _('MiniBatching is') }} <span id="overview_minibatch" ></span></div>
                    </div>
                    <div class="row mt-1">
                            <div class="col-5">{{ _('Amount of HITs') }}</div>
                            <div class="col-auto"><span id="overview_hits"></span> HIT(s)</div>
                    </div>
                    <div class="row mt-1">
                            <div class="col-5">{{ _('Amount of Workers') }}</div>
                            <div class="col-auto"><span id="overview_workers"></span> {{ _('Workers') }}</div>
                    </div>
                    <div class="row mt-1">
                            <div class="col-5">{{ _('Lifetime of each HIT') }}</div>
                            <div id="overview_lifetime" class="col-auto"></div>
                    </div>
                    <div class="row mt-1">
                            <div class="col-5">{{ _('Allotted Time per Worker') }}</div>
                            <div id="overview_allotted_time" class="col-auto"></div>
                    </div>
                    <div class="row mt-1">
                            <div class="col-5">{{ _('Time until automatic approval') }}</div>
                            <div id="overview_time_approval" class="col-auto"></div>
                    </div>
                    <div class="row mt-1">
                            <div class="col-5">{{ _('Masters Qualification') }}</div>
                            <div class="col-auto">{{ _('Masters ') }}<span id="overview_masters"></span> {{ _('necessary') }}</div>
                    </div>
                    <div class="row mt-1">
                            <div class="col-5">{{ _('Qualifications set') }}</div>
                            <div id="overview_qualifications" class="col-5"></div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-5"><h6>{{ _('Approx. Costs') }}</h6></div>
                        <div class="col-5">
                            <div class="row">
                                <div class="col-7">{{ _('Reward per assignment') }}</div>
                                <div class="col-auto">$<span id="overview_reward"></span></div>
                                <div class="w-100"></div>
                                <div class="col-7">{{ _('Fee per assignment') }}</div>
                                <div class="col-auto">$<span id="overview_fees"></span></div>
                                <div class="col-auto">(<span id="overview_fees_percentage"></span>%)</div>
                                <div class="w-100"></div>
                                <div class="col-7">{{ _('Total cost per assignment') }}</div>
                                <div class="col-auto">$<span id="overview_ass_total"></span></div>
                                <div class="w-100"></div>
                                <div class="col-7">{{ _('Number of assignments') }}</div>
                                <div class="col-auto"><span id="overview_nrass"></span></div>
                                <div class="w-100"></div>
                                <div class="col-7">{{ _('Total') }}</div>
                                <div class="col-auto"><h6>$<span id="overview_total"></span></h6></div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                            <div class="col-5"><h6>{{ _('Approx. Saved') }}</h6></div>
                            <div class="col-auto"><h6>$<span id="overview_saved"></span></h6></div>
                    </div>
                </div>
                <button type="button" id="previewButton">{{ _('Preview') }}</button>
                {{ form.submitform }}
                {{ macros.render_next_prev(5) }}
            </div>
        </div>
    </form>
    {{ ckeditor.load(custom_url=url_for('static', filename='ckeditor/ckeditor.js')) }}
    {{ ckeditor.config(name='editor_field')}}  
</div>
{% endblock body %}


{% block scripts %}
<script>
        var qualifications = {{qualifications | tojson}}
        var percentage_interval = {{ qualification_percentage_interval }}
        var integer_list = {{ qualification_integer_list }}
        var countrycodes = {{ cc_list | tojson}}
        var max_payment = {{ max_payment }}
        var softblock_name = {{ softblock_name | tojson}}
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.validate.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/moment-with-locales.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/tagsinput.js') }}"></script>

{% if locale == 'de' %} {# German #}
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.validate.localizations/messages_de.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/survey_de.js') }}"></script>
{% elif locale == 'someother' %}
    {# Add your own here, don't forget change the babel.route in routes.py and to download the respective localization (see the readme of each localization folder) #}
{% else %} {# English #}
    <script type="text/javascript" src="{{ url_for('static', filename='js/survey.js') }}"></script>
{% endif %}

{% endblock scripts %}
        
