{% extends 'base.html' %}

{% block head %}
<title>{{ title }}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/datatables.min.css') }}" >
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-confirm.min.css') }}" >
{% endblock head %}

{% block body %}
<div class="container-fluid container-big">
    <table id="worker_table" class="table striped" style="width:100%">
        <thead>
            <tr>
                <th></th>
                <th>{{ _('Worker-ID') }}</th>
                <th>{{ _('#Approved') }}</th>
                <th>{{ _('#Rejected') }}</th>
                <th>{{ _('#Assignments') }}</th>
                <th>{{ _('Last Assignment') }}</th>
                <th style>{{ _('Softblocked') }}</th>
                <th style="width:5%"></th>
            </tr>
        </thead>
    </table>
</div>
{% endblock body %}

{% block scripts %}
<script>
    workers = {{ workers | tojson }}
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-confirm.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/worker-list.js') }}"></script>

{% endblock scripts %}